.product-screen {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  > div:first-child {
    width: 40%;
    padding: 20px;
  }
  > div:nth-child(2) {
    width: 40%;
    padding: 30px;
    > p {
      text-align: justify;
      margin-top: 20px;
    }
    .titulo {
      border-bottom: 1px solid lightgray;
      padding-bottom: 10px;
    }
    .precio {
      border-bottom: 1px solid lightgray;
      border-top: 1px solid lightgray;
      padding: 10px 0;
    }
  }
  > div:nth-child(3) {
    width: 20%;
    padding: 30px;
    p {
      border-bottom: 1px solid lightgray;
      padding: 10px 0;
    }
    button {
      width: 100%;
      margin-top: 20px;
    }
  }
}
