@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: var(--light);
  font-size: 16px;
}

:root {
  --primary: #4e878c;
  --primary600: #46797e;
  --primary700: #3e6c70;
  --primary400: #5f9397;
  --primary300: #719fa3;
  --dark: #232c33;
  --dark400: #384147;
  --dark300: #4e565b;
  --light: #f1f5f2;
  --light600: #d8dcd9;
  --light700: #c0c4c1;
  --gold: rgb(235, 190, 66);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input {
  border: none;
  outline: none;
}

input:focus {
  box-shadow: 0 0 3px 3px var(--primary);
  outline: 1px solid var(--primary);
}

img {
  vertical-align: bottom;
  width: 100%;
}

.btn-primary {
  border: none;
  background-color: var(--primary);
  outline: none;
  padding: 5px 15px;
  color: white;
  font-weight: 200;
  cursor: pointer;
  box-shadow: 0.5px 1px 3px 0 var(--dark);
}

.btn-disabled {
  border: none;
  background-color: var(--light);
  outline: none;
  padding: 5px 15px;
  color: var(--light700);
  font-weight: 200;
  cursor: not-allowed;
  box-shadow: 0.5px 1px 3px 0 var(--dark);
}

.btn-primary:hover {
  background-color: var(--primary600);
  transition: all 0.5s ease;
  box-shadow: 1px 1.5px 3px 0 var(--dark);
}

.card {
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 5px 0px lightgray;
  overflow: hidden;
}
