body {
  background-color: var(--light);
}

/* Navbar */
nav .logo {
  width: 50px;
}

nav .logo img {
  width: 100%;
}

nav .logo-div p {
  font-family: "WindSong", cursive;
}

nav a {
  color: var(--light700);
}

nav a:hover {
  color: var(--light);
  transition: all 0.3s ease;
}
