.cart {
  width: 1200px;
  margin: 100px auto 0 auto;
  padding: 50px;
  .empty-cart {
    width: 120px;
    margin-top: 30px;
  }
  a {
    color: var(--dark);
  }
  a:hover {
    text-decoration: underline;
  }
  span {
    color: var(--dark300);
    font-size: 1.5rem;
  }
  .cart-container {
    display: flex;
    margin-top: 20px;
    .cart-left {
      width: 75%;
      .cart-item {
        border: 1px solid lightgray;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 15px;
        width: 100%;
        padding: 10px;
        > div {
          width: 15%;
          padding: 10px;
        }
        > p {
          padding: 10px 20px;
        }
        > a:nth-child(2) {
          width: 50%;
        }
        > p:nth-child(3) {
          color: var(--primary);
          font-weight: 600;
          width: 17%;
        }
        > div:nth-child(4) {
          width: 18%;
          display: flex;
          justify-content: start;
          align-items: center;
          i {
            margin-left: 13px;
            color: var(--primary);
            cursor: pointer;
          }
        }
      }
      .cart-item:first-child {
        margin-top: 0;
      }
    }
    .cart-right {
      width: 25%;
      padding-left: 40px;
      > div {
        display: flex;
        margin-top: 30px;
        align-items: center;
        > p:nth-child(2) {
          margin-left: auto;
          font-size: 1.2rem;
        }
      }
      > button {
        width: 100%;
        margin-top: 30px;
      }
    }
  }
}
