.products {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  a {
    color: black;
  }
  > div {
    > a {
      border-bottom: 1px solid lightgrey;
      padding: 20px;
      display: block;
    }
    > div:nth-child(2) {
      padding: 20px;
      p:nth-child(3) {
        font-size: 1.5rem;
      }
      a:first-child {
        font-size: 1.2rem;
      }
      a:first-child:hover {
        text-decoration: underline;
      }
      a:last-child {
        font-size: 1.5rem;
      }
    }
  }
}
